flows.json
[{"id":"a0b74a22eedf03b9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a1545257561f4137","type":"noraf-config","name":"nora config","group":"","twofactor":"off","twofactorpin":"","localexecution":true,"structure":"Living Room","storeStateInContext":false,"disableValidationErrors":false},{"id":"6437f1dbef91c6cc","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"360","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"1"},{"id":"68448bd4bd9af027","type":"noraf-switch","z":"a0b74a22eedf03b9","devicename":"My PC","roomhint":"Living Room","name":"","passthru":false,"errorifstateunchaged":false,"nora":"a1545257561f4137","topic":"post_request","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":70,"y":400,"wires":[["9cee9d89acf9c901"]]},{"id":"a3eea491460c1e4e","type":"debug","z":"a0b74a22eedf03b9","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"5196236619287b7b","type":"mqtt out","z":"a0b74a22eedf03b9","name":"","topic":"post_request","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6437f1dbef91c6cc","x":750,"y":380,"wires":[]},{"id":"83fc1c037beb53b7","type":"mqtt in","z":"a0b74a22eedf03b9","name":"","topic":"get_request","qos":"1","datatype":"auto-detect","broker":"6437f1dbef91c6cc","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["a3eea491460c1e4e"]]},{"id":"9cee9d89acf9c901","type":"switch","z":"a0b74a22eedf03b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":400,"wires":[["5196236619287b7b"],["26df26cf90da0991"]]},{"id":"68391db5be346502","type":"exec","z":"a0b74a22eedf03b9","command":"shutdown now ","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":740,"y":300,"wires":[["dfc5c9ced7acaa49"],[],[]]},{"id":"fcf82b51ad5c5afc","type":"noraf-switch","z":"a0b74a22eedf03b9","devicename":"Orange Pi","roomhint":"Living Room","name":"","passthru":false,"errorifstateunchaged":false,"nora":"a1545257561f4137","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":80,"y":320,"wires":[["2c42ff8ea6aaa840"]]},{"id":"dfc5c9ced7acaa49","type":"debug","z":"a0b74a22eedf03b9","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":240,"wires":[]},{"id":"2c42ff8ea6aaa840","type":"switch","z":"a0b74a22eedf03b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":320,"wires":[[],["763d46f1cd263def","5196236619287b7b"]]},{"id":"763d46f1cd263def","type":"delay","z":"a0b74a22eedf03b9","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":300,"wires":[["68391db5be346502"]]},{"id":"b1dbeae0b4efa0cc","type":"mqtt out","z":"a0b74a22eedf03b9","name":"","topic":"iotlink/workgroup/desktop-diqjkm1/commands/notify","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6437f1dbef91c6cc","x":690,"y":540,"wires":[]},{"id":"535d0eb4730cde07","type":"change","z":"a0b74a22eedf03b9","name":"test notification","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"My Notification Title\",\"message\":\"This is an example of notification using IOT Link\",\"iconUrl\":\"\",\"launchParams\":\"toast://open/https://iotlink.gitlab.io\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["b1dbeae0b4efa0cc"]]},{"id":"a7e60e4c87f8cd38","type":"inject","z":"a0b74a22eedf03b9","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":540,"wires":[["535d0eb4730cde07"]]},{"id":"80c417eac450a6db","type":"mqtt in","z":"a0b74a22eedf03b9","name":"","topic":"iotlink/workgroup/desktop-diqjkm1/commands/run","qos":"0","datatype":"auto-detect","broker":"6437f1dbef91c6cc","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":240,"wires":[["a8d05d7620c3799d"]]},{"id":"a8d05d7620c3799d","type":"debug","z":"a0b74a22eedf03b9","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":200,"wires":[]},{"id":"4091b911ba522e67","type":"mqtt out","z":"a0b74a22eedf03b9","name":"","topic":"iotlink/workgroup/desktop-diqjkm1/commands/run","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6437f1dbef91c6cc","x":770,"y":620,"wires":[]},{"id":"da061b270fdf5fd8","type":"change","z":"a0b74a22eedf03b9","name":"open playnite","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"C:\\\\Users\\\\Aqirito\\\\AppData\\\\Local\\\\Playnite\\\\Playnite.FullscreenApp.exe\",\"args\":\"192.168.0.122\",\"path\":\"C:\\\\Users\\\\Aqirito\\\\AppData\\\\Local\\\\Playnite\",\"user\":\"\",\"visible\":true,\"fallback\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":620,"wires":[["4091b911ba522e67"]]},{"id":"64a7c943dcdb4e3e","type":"switch","z":"a0b74a22eedf03b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":620,"wires":[["da061b270fdf5fd8"],[]]},{"id":"cb1c818e0dd503cb","type":"noraf-switch","z":"a0b74a22eedf03b9","devicename":"Game Mode","roomhint":"Living Room","name":"","passthru":false,"errorifstateunchaged":false,"nora":"a1545257561f4137","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":90,"y":620,"wires":[["64a7c943dcdb4e3e"]]},{"id":"1610931b22b124e8","type":"change","z":"a0b74a22eedf03b9","name":"open TOF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"D:\\\\Tower Of Fantasy\\\\Launcher\\\\tof_launcher.exe\",\"args\":\"192.168.0.122\",\"path\":\"D:\\\\Tower Of Fantasy\\\\Launcher\",\"user\":\"\",\"visible\":true,\"fallback\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":700,"wires":[["18b0a9fa3b223b4d"]]},{"id":"98a33e65e28e03aa","type":"switch","z":"a0b74a22eedf03b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":700,"wires":[["1610931b22b124e8"],[]]},{"id":"18b0a9fa3b223b4d","type":"mqtt out","z":"a0b74a22eedf03b9","name":"","topic":"iotlink/workgroup/desktop-diqjkm1/commands/run","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6437f1dbef91c6cc","x":870,"y":700,"wires":[]},{"id":"26df26cf90da0991","type":"mqtt out","z":"a0b74a22eedf03b9","name":"","topic":"iotlink/workgroup/desktop-diqjkm1/commands/shutdown","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6437f1dbef91c6cc","x":690,"y":460,"wires":[]},{"id":"05c734a630a1ae4e","type":"noraf-openclose","z":"a0b74a22eedf03b9","devicename":"Tower Of Fantasy","roomhint":"Living Room","name":"","directions":"","openclosetype":"DOOR","passthru":false,"errorifstateunchaged":false,"discrete":true,"lockunlock":false,"commandonly":false,"queryonly":false,"nora":"a1545257561f4137","topic":"","openvalue":"true","openvalueType":"bool","closevalue":"false","closevalueType":"bool","twofactor":"off","twofactorpin":"","filter":false,"x":110,"y":700,"wires":[["98a33e65e28e03aa"]]}]