docs/Raspberrypi/test_mqtt.json
[
  {
    "id": "b56ce0c73887511f",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4beb95041abe2422",
    "type": "mqtt out",
    "z": "b56ce0c73887511f",
    "name": "",
    "topic": "testTopic",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "af4b5520fdbf0437",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "833ebfb3e441ad09",
    "type": "inject",
    "z": "b56ce0c73887511f",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "hello world",
    "payloadType": "str",
    "x": 440,
    "y": 200,
    "wires": [["4beb95041abe2422"]]
  },
  {
    "id": "b854416a4072be2b",
    "type": "mqtt in",
    "z": "b56ce0c73887511f",
    "name": "",
    "topic": "testTopic",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "af4b5520fdbf0437",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 440,
    "y": 260,
    "wires": [["26088b7d128bd8e0"]]
  },
  {
    "id": "26088b7d128bd8e0",
    "type": "debug",
    "z": "b56ce0c73887511f",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 260,
    "wires": []
  },
  {
    "id": "af4b5520fdbf0437",
    "type": "mqtt-broker",
    "name": "Local Network",
    "broker": "192.168.0.151",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
